<h2>Net Gelir Tek - Yıllık</h2>
<hr width="100%" color="red" size="2">

<form>
    <div class="col-md-6 form-group" style="float: left;">
        <div class="form-group">
      <label for="il" >İl </label>
      <input type="text" class="form-control" style="width: 900px;" id="ilid" placeholder="İl Giriniz">
    </div>
    <div class="form-group">
        <label for="il" >Mahalle </label>
        <input type="text" class="form-control" style="width: 900px;" id="ilid" placeholder="Mahalle Giriniz">
      </div>
      <div class="form-group">
        <label for="il" >Parsel </label>
        <input type="text" class="form-control" style="width: 900px;" id="ilid" placeholder="Parsel Giriniz">
      </div>
    </div>
    <div class="col-md-6 form-group" style="float: left;">
        <div class="form-group">
        <label for="ilce" >İlçe</label>
        <input type="text" class="form-control" style="width: 900px;" id="ilceid" placeholder="İlçe Giriniz">
    </div>
    <div class="form-group">
        <label for="il" >Ada </label>
        <input type="text" class="form-control" style="width: 900px;" id="ilid" placeholder="Ada Giriniz">
      </div>
      <div class="form-group">
        <label for="il" >Tapu Alanı(m) Giriniz </label>
        <input type="text" class="form-control" style="width: 900px;" id="ilid" placeholder="Tapu Alanı(m) Giriniz">
      </div>
      <div class="form-group">
        <label for="il" >Yıllık Ortalama Net Gelir (TL) </label>
        <input type="text" class="form-control" style="width: 900px;" id="ilid" placeholder="Yıllık Ortalama Net Gelir (TL) Giriniz">
      </div>
      <div class="form-group">
        <label for="il" >Kuru/Sulu</label>
        <select class="form-select" aria-label="Default select example" style="width: 900px;">
            <!-- <option selected>Seçiniz</option> -->
            <option value="1">Kuru</option>
            <option value="2">Sulu</option>
          </select>
      </div>
      </div>
    
    <!-- <button type="submit" style="float: right;" class="btn btn-primary">Filtrele</button> -->
  </form>